<h1>Categories</h1>

<hr>

<div class="row">
    <div class="col-lg-5">
        <h4>Add new</h4>
        <form id="category-form">
            <div class="form-group">
                <label for="category-name">Enter name</label>
                <input type="text" class="form-control" id="category-name">
                <div class="invalid-feedback">
                    Please enter a category name
                </div>
            </div>
            <div class="form-group">
                <label for="category-desc">Enter Description</label>
                <input type="text" class="form-control" id="category-desc">
                <div class="invalid-feedback">
                    Please enter a category description
                </div>

            </div>
            <div class="form-group">
                <label for="category-thumbnail">Select thumbnail</label>
                <input type="file" class="form-control-file" id="category-thumbnail">
                <div class="invalid-feedback">
                    Please choose a valid file as thumbnail
                </div>

            </div>
            <div class="form-group">
                <img src="#" alt="thumbnail" id="selected-thumbnail" width="250" height="250" />
            </div>
            <div class="form-group">

                <div class="progress">
                    <div class="progress-bar" id="upload-progress" style="width:0%;">0%</div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" id="save-category" class="btn btn-primary">Save</button>
            </div>
        </form>
        <div id="result">

        </div>
    </div>
    <div class="col-lg-7">
        <h4>Saved categories</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody id="categories">

            </tbody>
        </table>
    </div>
</div>

<script>
    validImageTypes = ["image/jpeg", "image/gif", "image/png", "image/jpg"];
    $("#selected-thumbnail").hide();
    function previewThumbnail(thumbnail) {
        if (thumbnail.files && thumbnail.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#selected-thumbnail").attr('src', e.target.result);
                $("#selected-thumbnail").fadeIn();
            }

            reader.readAsDataURL(thumbnail.files[0]);
        }
    }
    $("#category-thumbnail").change(function () {
        previewThumbnail(this);
        console.log("file selected and displayed");
    });

    $("#save-category").click(function () {
        $("#category-name").removeClass("is-invalid");
        $("#category-desc").removeClass("is-invalid");
        $("#category-thumbnail").removeClass("is-invalid");

        var catName = $("#category-name").val();
        var catDesc = $("#category-desc").val();
        var thumbnail = $("#category-thumbnail").prop("files")[0];

        if (!catName) {
            $("#category-name").addClass("is-invalid");
            return;
        }
        if (!catDesc) {
            $("#category-desc").addClass("is-invalid");
            return;
        }
        if (thumbnail == null) {
            $("#category-thumbnail").addClass("is-invalid");
            // Console.log("Invalid file");
            return;
        }
        if ($.inArray(thumbnail["type"], validImageTypes) < 0) {
            $("#category-thumbnail").addClass("is-invalid");
            return;
        }
        //upload the image and save category
        var database = firebase.database().ref("categories/" + catName);
        database.once('value').then(function (snapshot) {
            if (snapshot.exists()) {
                $("#result").attr("class", "alert alert-danger")
                $("#result").html("Category already exists")
                resetForm();
                console.log("Category already exists");
            } else {
                console.log("Uploading file");
                var name = thumbnail["name"];
                var ext = name.substring(name.lastIndexOf("."), name.length);
                var thumbname = new Date().getDate();
                var storageRef = firebase.storage().ref(catName + "/" + thumbname + ext);
                var uploadTask = storageRef.put(thumbnail);

                uploadTask.on("state_changed",
                    function progress(snapshot) {
                        var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                        console.log(percentage);
                        $("#upload-progress").html(Math.round(percentage) + "%");
                        $("#upload-progress").attr('style', "width: " + percentage + "%;");
                    },
                    function error(err) {

                    },
                    function complete() {
                        uploadTask.snapshot.ref.getDownloadURL().then(function (downloadURL) {
                            var thumbnailUrl = downloadURL;
                            console.log(thumbnailUrl);
                            var cat = {
                                "thumbnail": thumbnailUrl,
                                "desc": catDesc
                            };
                            database.set(cat, function (err) {
                                if (err) {
                                    $("#result").attr("class", "alert alert-danger")
                                    $("#result").html("Category already exists")
                                } else {
                                    $("#result").attr("class", "alert alert-success")
                                    $("#result").html("Category added")
                                }
                                resetForm();
                            });
                        });

                    }
                );
            }

        });
        function resetForm() {
            $("#category-form")[0].reset();
            $("#selected-thumbnail").fadeOut();
            $("upload-progress").html("Completed");
        }

    });

    var dbCategories = firebase.database().ref("categories");
    dbCategories.on("value", function (snapshot) {
        console.log("inside value listener");
        var categoriesHtml = "";
        if (snapshot.exists()) {
            console.log("snapshot exists");
            snapshot.forEach(function (category) {
                categoriesHtml += "<tr>";
                //for category name
                categoriesHtml += "<td>";
                categoriesHtml += category.key;
                categoriesHtml += "</td>";

                //for category desc
                categoriesHtml += "<td>";
                categoriesHtml += category.val()["desc"];
                categoriesHtml += "</td>";

                //for category thumbnail
                categoriesHtml += "<td><img width='150' height='150' src='";
                categoriesHtml += category.val().thumbnail;
                categoriesHtml += "'/></td>";
                categoriesHtml += "</tr>";
            });
            console.log(categoriesHtml);
            $("#categories").html(categoriesHtml);
        }
    });
</script>